extends ./mixins/layout.pug
block content
  form.container(action="/", method="post")
    p.title 이름을 입력해주세요
    p
      input.input_box(type="text", name="name", placeholder="이름")
    p.submit_container
      button.input_box.submit(type="submit") 입력
      
  